.loader {
  color: var(--muted-foreground);
  font-family: Consolas, Menlo, Monaco, monospace;
  font-weight: bold;
  font-size: 50px;
  opacity: 0.8;
}

.loader span {
  display: inline-block;
  animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.loader span:nth-child(odd) {
  animation-delay: 0.4s;
}

@keyframes pulse_414 {
  to {
    transform: scale(0.8);
    opacity: 0.5;
  }
}
